* {
	margin: 0;
	padding: 0;
}
body, html {
	height: 100%;
	overflow-y: hidden;
	overflow-x: auto;
	min-width: 1200px;
	font-family: "Hiragino Sans GB", "Tahoma", "microsoft yahei ui", "microsoft yahei", "simsun";
}
.expand-transition {
	transition: all .3s ease;
}
.expand-enter, .expand-leave {
	height: 0;
	position: absolute;
	top: 51px;
	opacity: 0;
}
.main-content {
	left: 0;
	right: 0;
	bottom: 0px;
	overflow-y: auto;
}